@use 'variables' as v;
@use 'base/mixins' as m;

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  font-family: 'Source Code Pro', monospace, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  margin: 0;
  background-color: v.$white-400;
}

h1, h2, h3{
  color: v.$white-300;
}

h1{
  margin: 0;
  color: v.$white-100;
  font-size: 3.6rem;
  @include m.desktop{
    font-size: 4rem;
  }
}
h2{
  margin-bottom: 2rem;
  font-size: 3rem;
  text-align: center;
}
p{
  font-size: 1.6rem;
  line-height: 1;
  color: v.$white-300;
}

a{
  text-decoration: none;
  margin: 0;
}

li, ul{
  list-style: none;
  margin: 0;
  padding: 0;
  color: v.$white-200;
}
.verde{
  color: v.$green;
}

.container{
  margin: 0 auto;
}

.main-container{
  padding: 0 10% 10% 10%;
  height: 100%;
  background-color: v.$white-950;
  @include m.phone{
    width: 65%;
    width: 65%;padding: 0 3% 3% 3%;

  }
  @include m.tablet{
    width: 45%;    
    width: 65%;padding: 0 3% 3% 3%;

  }
}

img{
  height: auto;
  width: 100%;
}