// Colores  
$white-50:  #ffffff; // Background proyectos y color de íconos
$white-100: #efefef; // Color encabezado principal
$white-200: #dcdcdc;
$white-300: #bdbdbd; // Color texto y encabezados
$white-400: #989898; // Background página
$white-500: #7c7c7c;
$white-600: #656565;
$white-700: #525252;
$white-800: #464646;
$white-900: #3d3d3d;  
$white-950: #292929; // Background contenido principal
$green:     #adffad;

// Tamaños de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
