@use 'base/variables' as v;
@use 'base/mixins' as m;

.header{
  
  border-bottom: .1rem solid v.$white-300;
  ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    li{
      svg{
        margin: 1rem;
        cursor: pointer;
        &:hover{
          stroke: v.$green;
        }
      }
    }
  }

}