@use 'base/variables' as v;
@use 'base/mixins' as m;

.intro{
  display: block;
  margin: 0 auto 4rem 0;
  h1{
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  p{
    margin-top: 0;
    text-align: center;
    color: v.$white-600;
  }
}