@use 'base/variables' as v;
@use 'base/mixins' as m;

.sobre-mi{
  display: grid;
  justify-content: space-between;
  gap: 4rem;
  @include m.desktop{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

.imagen{
 img{
  overflow: hidden;
  border-radius: 1rem;
 } 
}